body {
	font-size: 16pt;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	line-height: 14pt;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt;
	background-color: #5170ff;	
	background-position: left;
	height: 100vh;
	column-count: 2;
}
	

h1 {
	font-size: 20pt;	
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	color: black;
}

h2 {
	font-size: 12pt;	
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	line-height: 20pt;
}

div.background {
	padding: 15px;
	border: black; 
	background-color: rgba(81, 112, 255, 0.5);
	display: flex;
	justify-content: left;
	width: 100%;
}

div.recipe {
	line-height: 30pt;
	column-width: 100px;
	text-align: left;
	display: flex;
}